<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>ID CARD MAHASISWA</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <style>
            body{
              justify-content: center;
              text-align: center;
            }
        </style>
        
    </head>
    <body>
        <img th:src="${img}" alt="">
        <p th:text="${nama}"></p>
        <p th:text="${tanggal}"></p> 
    </body>
</html>
